.stockDashboardBody {
    display: grid;
    grid-template-areas:
        "stockHeader stockHeader"
        "profitBar profitBar "
        "mainStats mainStats "
        "mainStats mainStats "
        "footer footer";
    border-radius: 1rem;
    justify-content: center;

}

.proffits{
    
    background-color: #263238;
    width: 65vw;
    display:flex;
    border-radius: 0.5rem;
    flex-direction: row;
    overflow-y: auto;

}
.profitBar{
    grid-area: profitBar;
    display:flex;
    flex-direction: column;
}
.mainStats{
    grid-area: mainStats;
    width:100%

}
.footer {
    grid-area: footer;
    background-color: #263238;
    height: 20vh;
}
.stockHeader{
    width: 100%;
}