.stockProffitDisplay h1{
    margin: 0;
    font-size: 20px;
    margin-top: 0.5rem;
    color: white;
    padding: 0;
    margin: 0;
}

.stockProffitDisplay {
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    margin: 0.5rem;
    background-color: #607D8B;
    border-radius: 0.2rem;
    justify-content: space-between;
}

.posProffitDisplay{
    color: rgb(15, 223, 15);
    }
.negProffitDisplay{
    color:crimson;
    }
.posProffitDisplay h6,.negProffitDisplay h6{
    margin: 0;
    font-size: 30px;
    margin-top: 0.5rem;
    }